tensorflow-classifier/images/
tensorflow-classifier/images_all/
intro/.ipynb_checkpoints/
tensorflow-classifier/.ipynb_checkpoints/
regression/kc_house_data.csv
slides/
regression/.ipynb_checkpoints/
flightDelay/FlightDelaysData.csv
flightDelay/WeatherDataset.csv
*desktop.ini
flightDelay/
flightDelay_/
regression/FlightDelaysData_clean.csv
regression/FlightDelaysData.csv
regression/WeatherDataset.csv

